<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between">
        <div style="">
            <a href="/cart/items">cart</a>
            <a href="/flowers">flowers</a>
        </div>
        <div>
            <a href="/profile">profile</a>
            <a href="/login">sign in</a>
            <a href="/signup">sign up</a>
        </div>
    </header>
  <form action="/signup" method="post">
      <label>Email:</label>
      <input type="text" name="email">
      <label>Full name:</label>
      <input type="text" name="full_name">
      <label>Password:</label>
      <input type="text" name="password">
      <input type="submit" name="Registration">

  </form>
</body>
</html>